//Google fonts
@import url(http://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Raleway:wght@500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

//Inter (thin & bold 700)
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap);

//Variables
$logo-font: "Raleway", sans-serif;
$text-font: "Inter", sans-serif;

$white-color: #ffffff;
$grey-color: #e1e1e1;
$green-color: #76b39d;
$logo-green-color: #78e3bc;
$logo-blue-color: #262262;
$dark-blue-color: #1e1b4d;
$logo-orange-color: #f7941e;
$dark-orange-color: #fd5f00;
$background-color: #ececec;

//Card reestablecer contraseña

html {
  background-color: $background-color;
}

.reestablecer-contra-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0 auto;
  background-color: $background-color;
  overflow: hidden;

  .nav-container {
    background-color: $logo-blue-color;

    #titulo {
      width: 90%;
      margin: auto;
      padding: 1rem 0rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;

      h1 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
      }

      .gre {
        color: $white-color;
      }
      .edy {
        color: $logo-green-color;
      }
      .me {
        color: $logo-orange-color;
      }
    }
  }

  .contenedor-inicio-contra {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 20% 1fr 20%;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    justify-items: center;
    align-content: flex-start;

    .reestablecer-contraseña-card {
      grid-row: 2/3;
      grid-column: 2/3;
      border-radius: 15px;
      height: 21rem;
      width: 27rem !important;
      margin: 0.5rem;
      padding: auto;
      box-shadow: 0px 5px 10px 0px #c5c5c5;

      .reestablecer-contraseña-body {
        padding: 2.8rem;
        padding-top: 2.3rem;

        #reestablecer-contraseña-title {
          font: $text-font;
          font-size: 1.6rem;
          margin-bottom: 1.2rem;
        }

        span {
          font: $text-font;
          font-weight: 300;
        }

        .MuiFormControl-fullWidth {
          margin-top: 1.4rem;
        }

        .contenedor-submit {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          width: 100%;

          #reestablecer-contraseña-submit {
            color: $dark-orange-color;
            border-color: $dark-orange-color;
            width: 13rem;
            margin-bottom: 0.5rem;
          }

          p {
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .reestablecer-contra-container {
    .contenedor-inicio-contra {
      grid-template-columns: 1fr;
      align-content: center;

      .reestablecer-contraseña-card {
        grid-column: 1/2;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .reestablecer-contra-container {
    .contenedor-inicio-contra {
      .reestablecer-contraseña-card {
        height: 21.5rem;
        width: 25rem !important;

        .reestablecer-contraseña-body {
          #reestablecer-contraseña-title {
            font: $text-font;
            font-size: 1.5rem;
            margin-bottom: 1.2rem;
          }

          span {
            font-size: 1rem;
          }

          .MuiFormControl-fullWidth {
            margin-top: 1.4rem;
          }

          .contenedor-submit {
            #reestablecer-contraseña-submit {
              color: $dark-orange-color;
              border-color: $dark-orange-color;
              width: 12.5rem;
              margin-bottom: 0.5rem;

              span {
                font-size: 0.875rem;
              }
            }

            p {
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .inicio-sesion-container {
    #inicio-sesion {
      width: 16rem !important;

      #inicio-sesion-body {
        .check-container {
          justify-content: center;
        }
      }
    }
  }
}
